@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 46, 41, 78; /* dark */
  --background-rgb: 255, 249, 249; /* light */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 